In [1]:
import pandas as pd

In [ ]:
alco_all = pd.read_csv('alco_all.csv', sep=';')
alco = pd.read_csv('alco.csv', sep = ';')
alco_all.rename(columns={alco_all.columns[0]: "Year"}, inplace=True)

In [3]:
print(alco_all.head())
print(alco.head())

   Year  Estonia  Latvia  Lithuania (recorded)  Poland  \
0  2000      NaN    8.94                   9.7    9.96
1  2001      NaN    8.54                  10.5    9.36
2  2002      NaN    9.16                  11.1    9.60
3  2003      NaN    9.79                  11.3   10.50
4  2004      NaN   10.22                  12.2   10.60

   Lithuania (estimated total)
0                        10.63
1                        11.61
2                        12.03
3                        12.37
4                        13.06
   Country  Year    APC  Recorded  Unrecorded  Tourist  Beer  Wine  Spirits  \
0  Estonia  2000   9.37      9.03        1.73    -1.39  4.19  1.05     3.22
1  Estonia  2001  10.19     10.10        1.61    -1.52  4.62  0.98     3.92
2  Estonia  2002  11.77     12.16        1.37    -1.75  4.99  0.80     5.05
3  Estonia  2003  11.35     11.64        1.41    -1.69  4.75  0.82     4.81
4  Estonia  2004  14.36     15.52        0.98    -2.14  6.04  1.47     6.13

   Other
0   0.57
1   0.58
2   1.32
3   1.26
4   1.88

In [4]:
alco_all_melted = alco_all.melt(id_vars=["Year"], var_name="Country", value_name="Value")

In [5]:
result = alco_all_melted[
    (alco_all_melted['Country'].isin(alco['Country'])) &
    (alco_all_melted['Year'].isin(alco['Year']))
]

In [23]:
print(alco_all_melted.head(40))

    Year  Country  Value
0   2000  Estonia    NaN
1   2001  Estonia    NaN
2   2002  Estonia    NaN
3   2003  Estonia    NaN
4   2004  Estonia    NaN
5   2005  Estonia   9.80
6   2006  Estonia  10.40
7   2007  Estonia  12.20
8   2008  Estonia  11.90
9   2009  Estonia   9.90
10  2010  Estonia   9.80
11  2011  Estonia  10.10
12  2012  Estonia  10.30
13  2013  Estonia  10.40
14  2014  Estonia  10.60
15  2015  Estonia  10.80
16  2016  Estonia  11.20
17  2017  Estonia  12.60
18  2018  Estonia  13.20
19  2019  Estonia  12.90
20  2020  Estonia  12.60
21  2000   Latvia   8.94
22  2001   Latvia   8.54
23  2002   Latvia   9.16
24  2003   Latvia   9.79
25  2004   Latvia  10.22
26  2005   Latvia  11.05
27  2006   Latvia  11.39
28  2007   Latvia  12.68
29  2008   Latvia  12.44
30  2009   Latvia  10.94
31  2010   Latvia  10.91
32  2011   Latvia  11.10
33  2012   Latvia  11.13
34  2013   Latvia  11.28
35  2014   Latvia  11.39
36  2015   Latvia  11.53
37  2016   Latvia  11.89
38  2017   Latvia  12.88
39  2018   Latvia  13.32

In [22]:
print(result.head(40))

    Year  Country  Value
0   2000  Estonia    NaN
1   2001  Estonia    NaN
2   2002  Estonia    NaN
3   2003  Estonia    NaN
4   2004  Estonia    NaN
5   2005  Estonia   9.80
6   2006  Estonia  10.40
7   2007  Estonia  12.20
8   2008  Estonia  11.90
9   2009  Estonia   9.90
10  2010  Estonia   9.80
11  2011  Estonia  10.10
12  2012  Estonia  10.30
13  2013  Estonia  10.40
14  2014  Estonia  10.60
15  2015  Estonia  10.80
16  2016  Estonia  11.20
17  2017  Estonia  12.60
18  2018  Estonia  13.20
19  2019  Estonia  12.90
20  2020  Estonia  12.60
21  2000   Latvia   8.94
22  2001   Latvia   8.54
23  2002   Latvia   9.16
24  2003   Latvia   9.79
25  2004   Latvia  10.22
26  2005   Latvia  11.05
27  2006   Latvia  11.39
28  2007   Latvia  12.68
29  2008   Latvia  12.44
30  2009   Latvia  10.94
31  2010   Latvia  10.91
32  2011   Latvia  11.10
33  2012   Latvia  11.13
34  2013   Latvia  11.28
35  2014   Latvia  11.39
36  2015   Latvia  11.53
37  2016   Latvia  11.89
38  2017   Latvia  12.88
39  2018   Latvia  13.32

In [ ]:
merged_result = result.merge(
    alco,
    how='left',
    left_on=['Year', 'Country'],
    right_on=['Year', 'Country']
)

merged_result['Difference'] = merged_result['Value'] - merged_result['Recorded']

print(merged_result)

    Year  Country  Value    APC  Recorded  Unrecorded  Tourist  Beer  Wine  \
0   2000  Estonia    NaN   9.37      9.03        1.73    -1.39  4.19  1.05
1   2001  Estonia    NaN  10.19     10.10        1.61    -1.52  4.62  0.98
2   2002  Estonia    NaN  11.77     12.16        1.37    -1.75  4.99  0.80
3   2003  Estonia    NaN  11.35     11.64        1.41    -1.69  4.75  0.82
4   2004  Estonia    NaN  14.36     15.52        0.98    -2.14  6.04  1.47
..   ...      ...    ...    ...       ...         ...      ...   ...   ...
58  2016   Poland  11.42  11.42     10.42        1.49    -0.49  5.84  0.83
59  2017   Poland  11.50  11.50     10.54        1.45    -0.49  5.79  0.87
60  2018   Poland  11.57  11.57     10.65        1.41    -0.49  5.92  0.85
61  2019   Poland  11.82  11.82     10.96        1.36    -0.51  5.72  0.88
62  2020   Poland  11.66  11.66     10.79        1.37    -0.50  5.52  0.91

    Spirits  Other  Difference
0      3.22   0.57         NaN
1      3.92   0.58         NaN
2      5.05   1.32         NaN
3      4.81   1.26         NaN
4      6.13   1.88         NaN
..      ...    ...         ...
58     3.76   0.00        1.00
59     3.88   0.00        0.96
60     3.88   0.00        0.92
61     4.36   0.00        0.86
62     4.36   0.00        0.87

[63 rows x 12 columns]