In [37]:
import pandas as pd
import statsmodels.stats.api as sms
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
import seaborn as sns

In [12]:
alco_all = pd.read_csv('alco_all.csv', sep=';')
alco = pd.read_csv('alco.csv', sep = ';')
alco_all.rename(columns={alco_all.columns[0]: "Year"}, inplace=True)

In [13]:
print(alco_all.head())
print(alco.head())

   Year  Estonia  Latvia  Lithuania (recorded)  Poland  \
0  2000      NaN    8.94                   9.7    9.96
1  2001      NaN    8.54                  10.5    9.36
2  2002      NaN    9.16                  11.1    9.60
3  2003      NaN    9.79                  11.3   10.50
4  2004      NaN   10.22                  12.2   10.60

   Lithuania (estimated total)
0                        10.63
1                        11.61
2                        12.03
3                        12.37
4                        13.06
   Country  Year    APC  Recorded  Unrecorded  Tourist  Beer  Wine  Spirits  \
0  Estonia  2000   9.37      9.03        1.73    -1.39  4.19  1.05     3.22
1  Estonia  2001  10.19     10.10        1.61    -1.52  4.62  0.98     3.92
2  Estonia  2002  11.77     12.16        1.37    -1.75  4.99  0.80     5.05
3  Estonia  2003  11.35     11.64        1.41    -1.69  4.75  0.82     4.81
4  Estonia  2004  14.36     15.52        0.98    -2.14  6.04  1.47     6.13

   Other
0   0.57
1   0.58
2   1.32
3   1.26
4   1.88

COLUMNS DESCRIPTION:
- Country - country of measure
- Year - year of measure
- APC - alcohol per capita
- Recorded - recorded measure
- Unrecorded - unrecorded measure
- Turist - share of tourists in consumption
- Beer - share of beer consuption
- Wine - share of wine consumption
- Spirits - share of spirits consumption
- Other - share of other alcoholic beverages consumption

In [14]:
alco_all_melted = alco_all.melt(id_vars=["Year"], var_name="Country", value_name="Value")

In [15]:
result = alco_all_melted[
    (alco_all_melted['Country'].isin(alco['Country'])) &
    (alco_all_melted['Year'].isin(alco['Year']))
]

In [16]:
print(alco_all_melted.head(40))

    Year  Country  Value
0   2000  Estonia    NaN
1   2001  Estonia    NaN
2   2002  Estonia    NaN
3   2003  Estonia    NaN
4   2004  Estonia    NaN
5   2005  Estonia   9.80
6   2006  Estonia  10.40
7   2007  Estonia  12.20
8   2008  Estonia  11.90
9   2009  Estonia   9.90
10  2010  Estonia   9.80
11  2011  Estonia  10.10
12  2012  Estonia  10.30
13  2013  Estonia  10.40
14  2014  Estonia  10.60
15  2015  Estonia  10.80
16  2016  Estonia  11.20
17  2017  Estonia  12.60
18  2018  Estonia  13.20
19  2019  Estonia  12.90
20  2020  Estonia  12.60
21  2000   Latvia   8.94
22  2001   Latvia   8.54
23  2002   Latvia   9.16
24  2003   Latvia   9.79
25  2004   Latvia  10.22
26  2005   Latvia  11.05
27  2006   Latvia  11.39
28  2007   Latvia  12.68
29  2008   Latvia  12.44
30  2009   Latvia  10.94
31  2010   Latvia  10.91
32  2011   Latvia  11.10
33  2012   Latvia  11.13
34  2013   Latvia  11.28
35  2014   Latvia  11.39
36  2015   Latvia  11.53
37  2016   Latvia  11.89
38  2017   Latvia  12.88
39  2018   Latvia  13.32

In [17]:
print(result.head(40))

    Year  Country  Value
0   2000  Estonia    NaN
1   2001  Estonia    NaN
2   2002  Estonia    NaN
3   2003  Estonia    NaN
4   2004  Estonia    NaN
5   2005  Estonia   9.80
6   2006  Estonia  10.40
7   2007  Estonia  12.20
8   2008  Estonia  11.90
9   2009  Estonia   9.90
10  2010  Estonia   9.80
11  2011  Estonia  10.10
12  2012  Estonia  10.30
13  2013  Estonia  10.40
14  2014  Estonia  10.60
15  2015  Estonia  10.80
16  2016  Estonia  11.20
17  2017  Estonia  12.60
18  2018  Estonia  13.20
19  2019  Estonia  12.90
20  2020  Estonia  12.60
21  2000   Latvia   8.94
22  2001   Latvia   8.54
23  2002   Latvia   9.16
24  2003   Latvia   9.79
25  2004   Latvia  10.22
26  2005   Latvia  11.05
27  2006   Latvia  11.39
28  2007   Latvia  12.68
29  2008   Latvia  12.44
30  2009   Latvia  10.94
31  2010   Latvia  10.91
32  2011   Latvia  11.10
33  2012   Latvia  11.13
34  2013   Latvia  11.28
35  2014   Latvia  11.39
36  2015   Latvia  11.53
37  2016   Latvia  11.89
38  2017   Latvia  12.88
39  2018   Latvia  13.32

In [18]:
merged_result = result.merge(
    alco,
    how='left',
    left_on=['Year', 'Country'],
    right_on=['Year', 'Country']
)

merged_result['Difference'] = merged_result['Value'] - merged_result['Recorded']

print(merged_result)

    Year  Country  Value    APC  Recorded  Unrecorded  Tourist  Beer  Wine  \
0   2000  Estonia    NaN   9.37      9.03        1.73    -1.39  4.19  1.05
1   2001  Estonia    NaN  10.19     10.10        1.61    -1.52  4.62  0.98
2   2002  Estonia    NaN  11.77     12.16        1.37    -1.75  4.99  0.80
3   2003  Estonia    NaN  11.35     11.64        1.41    -1.69  4.75  0.82
4   2004  Estonia    NaN  14.36     15.52        0.98    -2.14  6.04  1.47
..   ...      ...    ...    ...       ...         ...      ...   ...   ...
58  2016   Poland  11.42  11.42     10.42        1.49    -0.49  5.84  0.83
59  2017   Poland  11.50  11.50     10.54        1.45    -0.49  5.79  0.87
60  2018   Poland  11.57  11.57     10.65        1.41    -0.49  5.92  0.85
61  2019   Poland  11.82  11.82     10.96        1.36    -0.51  5.72  0.88
62  2020   Poland  11.66  11.66     10.79        1.37    -0.50  5.52  0.91

    Spirits  Other  Difference
0      3.22   0.57         NaN
1      3.92   0.58         NaN
2      5.05   1.32         NaN
3      4.81   1.26         NaN
4      6.13   1.88         NaN
..      ...    ...         ...
58     3.76   0.00        1.00
59     3.88   0.00        0.96
60     3.88   0.00        0.92
61     4.36   0.00        0.86
62     4.36   0.00        0.87

[63 rows x 12 columns]

In [19]:
alcohol_consumption_overall = alco_all
del alco_all
alcohol_consumption_by_beverage = alco
del alco

In [20]:
##Model Kasia
import pandas as pd
import statsmodels.api as sm

# Loading model_data
data = pd.read_excel('model_data.xlsx')

print(data.head())

# Creating dependent and independent variables for OLS
y = data['APC_c']

X = data[['Year_c', 'Estonia', 'Latvia', 'Lithuania', 
          'Stricter alcohol policy', 'Looser alcohol policy']]

X = sm.add_constant(X)

#Building the model and checking the results

model = sm.OLS(y, X).fit()

print(model.summary())

     APC  APC_c  Year_c  Estonia  Latvia  Lithuania  Stricter alcohol policy  \
0  10.19   0.82    -9.5        1       0          0                        0
1  11.77   1.58    -8.5        1       0          0                        0
2  11.35  -0.42    -7.5        1       0          0                        0
3  14.36   3.01    -6.5        1       0          0                        0
4  15.18   0.82    -5.5        1       0          0                        0

   Looser alcohol policy
0                      0
1                      0
2                      0
3                      0
4                      0
                            OLS Regression Results
==============================================================================
Dep. Variable:                  APC_c   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.203
Method:                 Least Squares   F-statistic:                     4.356
Date:                Wed, 28 May 2025   Prob (F-statistic):           0.000821
Time:                        17:32:35   Log-Likelihood:                -83.779
No. Observations:                  80   AIC:                             181.6
Df Residuals:                      73   BIC:                             198.2
Df Model:                           6
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.1566      0.165      0.948      0.346      -0.173       0.486
Year_c                     -0.0342      0.014     -2.403      0.019      -0.063      -0.006
Estonia                     0.1292      0.230      0.561      0.577      -0.330       0.589
Latvia                      0.2080      0.231      0.902      0.370      -0.252       0.668
Lithuania                   0.0615      0.231      0.267      0.790      -0.398       0.521
Stricter alcohol policy    -0.8281      0.213     -3.888      0.000      -1.253      -0.404
Looser alcohol policy       0.2238      0.525      0.426      0.671      -0.823       1.270
==============================================================================
Omnibus:                       12.473   Durbin-Watson:                   2.173
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               30.028
Skew:                           0.378   Prob(JB):                     3.02e-07
Kurtosis:                       5.905   Cond. No.                         37.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Model testing

Authors only included a note under Table 1 indicating that the Durbin-Watson test statistic and p-value, indicating no significant autocorrelation in the data.

The authors obtained below results:

$`\text{test statistic} = 2.17`$

$`\text{p-value} = 0.62`$

In [26]:
# Durbin-Watson test

dw_stat = sms.durbin_watson(model.resid)
round(float(dw_stat),2)

2.17

It is important to note that the Python implementation of Durbin-Watson test does not provide a p-value in its results, thus we cannot verify the authors claim. However, the **value of the test statistic we obtained is equal to test statistic obtained by the authors**.

Authors did not provide information about performing other tests to check the validity of the OLS model. Thus we do not know how the model was (or not) tested further, and we only know that the autocorrelation assumption is met. 

To ensure that the results are valid we will verify the, omitted in the paper, other critical OLS model assumptions:
- Linear relation of parameters 
- No perfect multicolineatity present
- Homoscedasticity
- Normal distribution of errors

##### Linear relation of parameters

RESET Test - test to verify correct, liear form

$`H_0 = \text{Correct functional (linear) form}`$

In [29]:
sms.linear_reset(model)

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=0.8907507681995981, p-value=0.6405837659329889, df_denom=2>

p-value of ~0.64 indicates that we failed to reject $`H_0`$, thus model has correct functional form

##### No multicolinearity

VIF - Variance Inflation Factor - measures increase in variance of a regression coefficient caused by multicolinearity

We will asume that the VIF of above 10 indicates significant multicolinearity

In [32]:
vif_table = pd.DataFrame()
vif_table["feature"] = X.columns

vif_table["VIF_value"] = [VIF(X.values, idx) for idx in range(len(X.columns))]
vif_table

                   feature  VIF_value
0                    const   4.188317
1                   Year_c   1.034564
2                  Estonia   1.529377
3                   Latvia   1.530499
4                Lithuania   1.530499
5  Stricter alcohol policy   1.060849
6    Looser alcohol policy   1.032076

We can see that no VIF value is above 10, thus the no multicolinearity assumption is met

##### Homoscedasticity

Breusch-Pagan test 

$`H_0 = \text{there is homoskedasticity}`$

In [34]:
_, _, stat, pv = sms.het_breuschpagan(model.resid, model.model.exog)
stat, pv

(np.float64(1.0548203078514993), np.float64(0.3975891176852599))

P-value of ~0.39 indicates that we failed to reject $`H_0`$, and thus the Homoscedasticity assumption is met

##### Normal distribution of errors

Jarque-Bera Test

$`H_0 = \text{Data is normally distributed}`$

In [35]:
stat, pv, _, _ = sms.jarque_bera(model.resid)
stat, pv

(np.float64(30.027682049726657), np.float64(3.016974856179585e-07))

P-value of less than 0.01 indicates that we reject the null hypothesis, and thus this assumption of the OLS model is not met. Considering the small sample (n=80)